<!--restaurantRate.ejs-->

<HTML>
  <body>
    <h1>Rate Restaurant</h1>
    <p><a href="/restaurant/display/details?restaurantID=<%= restaurants[0].restaurantID %>">Go back to restaurant details</a></p>
    <% if (restaurants[0].photo != "" && typeof restaurants[0].photo != "undefined" &&  restaurants[0].photoMimetype.includes("image/")) { 
     %>
    <img src="data:<%= restaurants[0].photoMimetype %>;base64,<%= restaurants[0].photo %>" height='200'/>
    <% } else { %>
    <br/><p>No photo provided</p><br/>
    <% } %>
    <table>
      <tr>
        <td><label>Restaurant ID :</label></td>
        <td></td>
        <td><%= restaurants[0].restaurantID %></td>
      </tr>
      <tr>
        <td><label>Name :</label></td>
        <td></td>
        <td><%= restaurants[0].name %></td>
      </tr>
      <tr>
        <td><label>Borough :</label></td>
           <td></td>
        <td><%= restaurants[0].borough %></td>
      </tr>
      <tr>
        <td><label>Cuisine:</label></td>
         <td></td>
        <td><%= restaurants[0].cuisine %></td>
      </tr>
        </tr>
      <tr>
        <td><label>Address<label></td>
        <td><label>- Street :</label></td>
        <td><%= restaurants[0].address.street %></td>
      </tr>
      <tr>
         <td></td>
        <td><label>- Building :</label></td>
        <td><%= restaurants[0].address.building %></td>
      </tr>
      <tr>
         <td></td>
        <td><label>- Zipcode :</label></td>
        <td><%= restaurants[0].address.zipcode %></td>
      </tr>
      <tr>
         <td></td>
        <td><label>- Coord: </label></td>
        <td>
          <%
          if (restaurants[0].address.coord[0].length != "" || restaurants[0].address.coord[1].length != ""){
          %>
          [ <%= restaurants[0].address.coord[0] %> , <%= restaurants[0].address.coord[1] %> ]
          <% 
          }
          %>
          <%
          if (restaurants[0].address.coord[0].length != "" && restaurants[0].address.coord[1].length != ""){
          %>
          <a href="/restaurant/display/map?restaurantID=<%= restaurants[0].restaurantID %>&lat=<%= restaurants[0].address.coord[0] %>&lon=<%= restaurants[0].address.coord[1] %>" >Show Map</a>
          <%
          }
          %>
        </td>
      </tr>
      </table>
      <br/>
      <% if (restaurants[0].grades.length > 0) {%>
      <table>
        <tr><td>Grades :</td><td>#</td><td>User</td><td>Score</td></tr>
          <% for(var i = 0;i < restaurants[0].grades.length;i++) {%>
          <tr>
            <td></td>
            <td><%= i + 1 %>. </td>
        <td><%= restaurants[0].grades[i].user %></td>
        <td>(<%= restaurants[0].grades[i].score %> / 10)</td>
        </tr>
        <% } %>
      </table>
      <% } else { %>
        <table>
          <tr>
            <td>Grades :</td>
          </tr>
        </table>
      <% } %>
      <br/>
      <table>
        <tr>
        <td><label>Owner :</label></td>
            <td></td>
        <td><%= restaurants[0].owner %></td>
      </tr>
    </table>
    <hr/>
    <p>Give rate for this restaurant</p>
    <form action='/restaurant/rate/submit' method='get'>
      <input type='text' name='restaurantID' value='<%= restaurants[0].restaurantID %>' hidden/>
      <p>Score (0-10): <input type="number" name='score' min='0' max='10' step='0.5' value='5' required/></p>
      <input type='submit' value='Rate'/>
    </form>
  </body>
</HTML>